# Database Admin 101 - Lab

## Introduction 

In this lab you'll go through the process of designing and creating a database. From there, you'll also begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Create a SQL database
* Create a SQL table
* Create rows in a SQL table
* Alter entries in a SQL table
* Delete entries in a SQL table
* Commit changes via sqlite3

## The Scenario

You are looking to design a database for a school which will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database and record some of your ideas below.

# Your Answer Here

Record some information here about how you would design such a database. What table would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [2]:
#Your code here; import necessary packages
import sqlite3

In [3]:
#Your code here; create the database school.sqlite

conn = sqlite3.connect('school.sqlite')
cur = conn.cursor()

In [4]:
ls

contact_list.pickle  index.ipynb  README.md
CONTRIBUTING.md      LICENSE.md   school.sqlite

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), email, telephone number, street, city, state and zipcode. Be sure to also create a primary key for the table.

In [5]:
#Your code here
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [6]:
# Code to load the list of dictionaries; just run this cell
contacts

[{'firstName': 'Christine',
  'lastName': 'Holden',
  'role': 'staff',
  'telephone ': 2035687697,
  'street': '1672 Whitman Court',
  'city': 'Stamford',
  'state': 'CT',
  'zipcode ': '06995'},
 {'firstName': 'Christopher',
  'lastName': 'Warren',
  'role': 'student',
  'telephone ': 2175150957,
  'street': '1935 University Hill Road',
  'city': 'Champaign',
  'state': 'IL',
  'zipcode ': '61938'},
 {'firstName': 'Linda',
  'lastName': 'Jacobson',
  'role': 'staff',
  'telephone ': 4049446441,
  'street': '479 Musgrave Street',
  'city': 'Atlanta',
  'state': 'GA',
  'zipcode ': '30303'},
 {'firstName': 'Andrew',
  'lastName': 'Stepp',
  'role': 'student',
  'telephone ': 7866419252,
  'street': '2981 Lamberts Branch Road',
  'city': 'Hialeah',
  'state': 'Fl',
  'zipcode ': '33012'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Mary',
  'lastName': 'Raines',
  'role': 'student',
  'telephone ': 9075772295,
  'street': '3975 Jerry Toth Drive',
  'city': 'Ninilchik',
  'state': 'AK',
  'zipcode ': '99639'},
 {'firstName': 'Ed',
  'lastName': 'Lyman',
  'role': 'student',
  'telephone ': 5179695576,
  'street': '3478 Be Sreet',
  'city': 'Lansing',
  'state': 'MI',
  'zipcode ': '48933'}]

In [16]:
# Your code to iterate over the contact list and populate the contactInfo table here
cur.execute("""
Create Table contactInfo (id INTEGER PRIMARY KEY, firstName TEXT,
  lastName TEXT,
  role TEXT,
  telephone INT,
  street TEXT,
  city TEXT,
  state TEXT,
  zipcode TEXT)""")

OperationalError: table contactInfo already exists

In [29]:
for contact in contacts:
    cur.execute(f'''INSERT INTO contactInfo (firstName, 
    lastName, role, telephone, street, city, state, zipcode) 
                  VALUES ('{contact['firstName']}', 
                  '{contact['lastName']}', 
                  '{contact['role']}',
                  {contact['telephone ']},
                  '{contact['street']}',
                  '{contact['city']}',
                  '{contact['state']}',
                  '{contact['zipcode ']}');
            ''')

In [18]:
# Query the Table to Ensure it is populated
cur.execute("""Select * from contactInfo""").fetchall()

[(None,
  'Christine',
  'Holden',
  'staff',
  2035687697,
  '1672 Whitman Court',
  'Stamford',
  'CT',
  '06995'),
 (None,
  'Christopher',
  'Warren',
  'student',
  2175150957,
  '1935 University Hill Road',
  'Champaign',
  'IL',
  '61938'),
 (None,
  'Linda',
  'Jacobson',
  'staff',
  4049446441,
  '479 Musgrave Street',
  'Atlanta',
  'GA',
  '30303'),
 (None,
  'Andrew',
  'Stepp',
  'student',
  7866419252,
  '2981 Lamberts Branch Road',
  'Hialeah',
  'Fl',
  '33012'),
 (None,
  'Jane',
  'Evans',
  'student',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 (None,
  'Jane',
  'Evans',
  'student',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 (None,
  'Mary',
  'Raines',
  'student',
  9075772295,
  '3975 Jerry Toth Drive',
  'Ninilchik',
  'AK',
  '99639'),
 (None,
  'Ed',
  'Lyman',
  'student',
  5179695576,
  '3478 Be Sreet',
  'Lansing',
  'MI',
  '48933'),
 (None,
  'Christine',
  'Holden',
  'staff',
  2035687697,
  '1672 Whitman Court',
  'Stamford',
  'CT',
  '06995'),
 (None,
  'Christopher',
  'Warren',
  'student',
  2175150957,
  '1935 University Hill Road',
  'Champaign',
  'IL',
  '61938'),
 (None,
  'Linda',
  'Jacobson',
  'staff',
  4049446441,
  '479 Musgrave Street',
  'Atlanta',
  'GA',
  '30303'),
 (None,
  'Andrew',
  'Stepp',
  'student',
  7866419252,
  '2981 Lamberts Branch Road',
  'Hialeah',
  'Fl',
  '33012'),
 (None,
  'Jane',
  'Evans',
  'student',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 (None,
  'Jane',
  'Evans',
  'student',
  3259909290,
  '1461 Briarhill Lane',
  'Abilene',
  'TX',
  '79602'),
 (None,
  'Mary',
  'Raines',
  'student',
  9075772295,
  '3975 Jerry Toth Drive',
  'Ninilchik',
  'AK',
  '99639'),
 (None,
  'Ed',
  'Lyman',
  'student',
  5179695576,
  '3478 Be Sreet',
  'Lansing',
  'MI',
  '48933')]

In [ ]:
#Your code here

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [14]:
#Your code here
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [20]:
#Your code here; create the grades table.

cur.execute("""CREATE TABLE grades (
userId INTEGER NOT NULL,
courseId INTEGER NOT NULL,
grade TEXT,
PRIMARY KEY(userId, courseId));""")

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [24]:
#Your code here; find the duplicate entry
info = cur.execute("""Select firstName, lastName, telephone, count(*) from contactInfo group by 1, 2, 3 having count(*)>1""").fetchall()
info

[('Andrew', 'Stepp', 7866419252, 2),
 ('Christine', 'Holden', 2035687697, 2),
 ('Christopher', 'Warren', 2175150957, 2),
 ('Ed', 'Lyman', 5179695576, 2),
 ('Jane', 'Evans', 3259909290, 4),
 ('Linda', 'Jacobson', 4049446441, 2),
 ('Mary', 'Raines', 9075772295, 2)]

In [25]:
#Your code here; delete the duplicate entry
for entry in info:
    cur.execute(f"""DELETE FROM contactInfo 
    where telephone = {entry[2]}""")

In [26]:
#Your code here; check that the duplicate entry was removed.
info = cur.execute("""Select firstName, lastName, telephone, count(*) from contactInfo group by 1, 2, 3 having count(*)>1""").fetchall()
info

[]

## Updating an Address

Ed Lyman just moved to 2910 Simpson Avenue York, PA 17403. Update his address accordingly.

In [35]:
#Your code here; update Ed's address
cur.execute("""
UPDATE contactInfo 
SET street = '2910 Simpson Avenue York', state = 'PA', zipcode = '17403'
WHERE firstName = 'Ed'""")

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [36]:
#Your code here
conn.commit()

## Summary

While there's certainly more to do with setting up and managing this database, you certainly got a taste for creating, populating and maintaining databases! Feel free to continue fleshing out this exercise to continue practicing.